.form-container {
    width: 80vw;
    max-width: 500px;
    height: auto;
    max-height: 90vh;

    border-radius: 20px 0 20px 0;
    padding: 20px;
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
    text-align: left;
    width: 100%;

    font-size: clamp(1rem, 2vw, 1.5rem);
}

input {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 5px;
    font-size: clamp(1rem, 2vw, 1.3rem);
    ;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ccc;
}

input:focus {
    outline: none;
    border-color: #05C7F2;
}

.erro {
    color: red;
    font-weight: 900;
    margin: 0 0 10px 0;
    height: 30px;
}

.cont {
    margin: 10px 0;
}

.clique {
    margin-bottom: 10px;
}